.contenedor1 .conteneder2{
    width: 80%;
    height: 20px;
    align-items: center;
}
.contenedor1{
    background-color: antiquewhite;
}

.conteneder2{
    background-color: blue;
}

h1{
    color: red;
}

h2{
    color: green;
}